<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean id="myBean"
			class="com.yihong.test.beans.MyBean" autowire="byType">
		<property name="myAnotherBean" ref="myAnotherBean"  />
	</bean>

	<bean id="myAnotherBean"
			class="com.yihong.test.beans.MyAnotherBean" autowire="byType">
		<property name="myBean" ref="myBean" />
	</bean>

	<bean id="myThirdBean"
			class="com.yihong.test.beans.MyThirdBean" autowire="byType">
	</bean>

</beans>